
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                  <div class="section-title">
                    <h3 class="title">Contacto</h3>
                  </div>
                </div>
                <!-- /section title -->

                <div class="col-md-3 col-xs-6">
                    <p><a href="#"><i class="fa fa-phone"></i> +54-03489-15-538826</a></p>
                    <p><a href="#"><i class="fa fa-envelope-o"></i> dulcetricot@gmail.com</a></p>
                    <p><a href="#"><i class="fa fa-map-marker"></i> Zárate, Buenos Aires, Argentina</a></p>
                </div>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  
  
