<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Acerca De</h3>
            <p>DulceTricot es un emprendimiento personal dedicado a la confeccion de indumentaria para niños y adultos en punto tricot.</p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-phone"></i> +54-03489-15-538826</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i> dulcetricot@gmail.com</a></li>
              <li><a href="#"><i class="fa fa-map-marker"></i> Zárate, Buenos Aires, Argentina</a></li>

            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categorias</h3>
            <ul class="footer-links">
              <li><a href="#">Bodies</a></li>
              <li><a href="#">Bufandas</a></li>
              <li><a href="#">Gorros</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Informacion</h3>
            <ul class="footer-links">
              <li><a href="#" >Acerca De</a></li>
              <li><a href="#" routerLink="/contact/">Contacto</a></li>
              <li><a href="#">Legales</a></li>
              <li><a href="#">Ordenes y Devoluciones</a></li>
              <li><a href="#">Términos y condiciones</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Servicios</h3>
            <ul class="footer-links">
              <li><a href="#">Mi Cuenta</a></li>
              <li><a href="#">Ver Carrito</a></li>
              <li><a href="#">Lista de Deseos</a></li>
              <li><a href="#">Estado de mi Orden</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
          </ul>
          <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Chiskake</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
